<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openwan.dao.EmailCodeDao">
	
	<resultMap type="com.openwan.model.VpnEmailCode" id="resultList">
		  <id property="id" column="id"/>
		  <result property="emailId" column="email_id"/>
		  <result property="code" column="code"/>
		  <result property="status" column="status"/>
		  <result property="timestampDate" column="timestamp_date"/>
		  <result property="updateDate" column="update_date"/>
		  <result property="port" column="port"/>
				
	</resultMap>

    <insert id="insertEmailCode"   parameterType="com.openwan.model.VpnEmailCode" >
        <!-- 具体的sql -->
        insert into vpn_email_code (code,status,timestamp_date,update_date,port)
				values(#{code},#{status},#{timestampDate},#{updateDate},#{port})
     
  	</insert>  
  	
  	<select id="queryListCode" parameterType="java.lang.String" resultMap="resultList">
  		select * from  vpn_email_code  WHERE  status = ${str}
  	</select>
  	
  	<select id="getEmailCode" parameterType="java.lang.Integer" resultMap="resultList">
  		select * from  vpn_email_code  WHERE  id = #{id}
  	</select>
  	
  	<select id="queryAll"  resultMap="resultList">
  		select * from  vpn_email_code  
  	</select>
  	
  	<update id="updateEmailCode" parameterType="com.openwan.model.VpnEmailCode" >
  			update vpn_email_code set email_id=#{emailId},status=#{status}, update_date=#{updateDate} where id=#{id} 
  	</update>
  	
</mapper>